@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Styles for Todos component */
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.todo-label {
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.todo-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.todo-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}

.todo-button:hover {
  background-color: #45a049;
}

.todo-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

/* Styles for Task component */
.task-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 500px; /* Adjust the width as per your preference */
  font-family: 'Roboto', sans-serif;
}

.task-checkbox {
  margin-right: 10px;
}

.task-title {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  max-height: 80px; /* adjust as needed */
  overflow: hidden;
}

.task-completed {
  color: #4caf50;
  font-weight: bold;
}

.task-not-completed {
  color: #f44336;
  font-weight: bold;
}

.task-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .todo-container {
    width: 100%;
  }
  
  .todo-input {
    width: 100%;
  }

  .task-container {
    width: 100%;
  }
}

.todo-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-button {
    margin-left: 10px;
  }

  .task-delete-btn {
    margin-left: auto;
    }